body {
  font-size: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

header > button {
  color: rgb(18, 13, 113);
}

.intro {
  background-color: rgb(103, 119, 140);
  padding: 1rem 5rem 5rem 5rem;
  margin: -.5rem;
}

.light_text {
  color:azure;
}

h1 {
  font-size: 2.5rem;
}

#visit {
  background-color: rgb(221, 226, 233);
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

button {
  padding: 1rem;
  background-color: rgb(221, 226, 233);
  font-weight: bolder;
  border: solid 1px rgb(112, 112, 112);
}

li {
  text-decoration: none;
  list-style-type: none;
}

.flex {
  display:flex
}

.flex_column {
  flex-direction: column;
}

.flex_between {
  justify-content: space-between;
}

.flex_shrink {
  flex-shrink: calc(50%);
}

.small_title {
  color: rgb(76, 93, 109);
  font-weight: bolder;

}

.info_block {
  padding: 2rem;
  
}

.block {
  display: flex;
}


#volunteer {
  padding: 4rem 10rem 5rem 10rem;

}

footer {
  font-size: .7rem;
  background-color: rgb(26, 33, 44);
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

